<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
               
                <div class="item">
                    <span class="project-title"><a href="https://github.com/killermayank/Wikipedia_top_words-using-Beautiful-Soup">Wikipedia Top Words Using Beautiful Soup</a></span> - <span class="project-tagline">A python script using Beautiful Soup scraped Wikipedia Pages for searching for the same word and counted the frequency of that word in the whole wikipedia article and eliminated some words which doesn't define its meaning , can be used for the natural language processing, data visualization, market research,recommender system ,chatbots.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/killermayank/Tic-Tac-Toe-Game" target="_blank">Built an AI bot </a></span> - 
                    <span class="project-tagline">A simple Tic-Tac-Toe Bot which using Minmax algorithm and used Alpha-Beta prunig to optimize the searches, and make sure that computer never looses . </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/killermayank/Predicting-Diabetes-Using-PIMA-Indian-Data-sets/blob/master/README.md" target="_blank">Machine Learning </a></span> - <span class="project-tagline">Predicting-Diabetes-Using-PIMA-Indian-DataSet.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
                <div class="item">https://github.com/killermayank/Predicting-Diabetes-Using-PIMA-Indian-Data-sets/blob/master/README.md
                    <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
            </section><!--//section-->
